<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlpb-q3445omt8p8cXMKRhSS2lgFIrRPs</string>
	<key>GCM_SENDER_ID</key>
	<string>928656242844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloworld</string>
	<key>PROJECT_ID</key>
	<string>helloworld-adi-lncts</string>
	<key>STORAGE_BUCKET</key>
	<string>helloworld-adi-lncts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928656242844:ios:0ea8ade93a3467be379559</string>
</dict>
</plist>